.container {
    margin: auto;
}

header {
    display: flex;
    background-color: indigo;
    margin: auto;
    width: 60%;
}

header img {
    width: 120px;
    height: 120px;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    background-color: indigo;
}

li a {
    background-color: indigo;
    color: gold;
    width: 8rem;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
}

li a:hover {
    background-color: #9500ff;
}

main {
    background-color: slateblue;
    text-align: center;
    width: 75%;
    margin: auto;
}