.container {
    margin: auto;
    width: 50%;
}

article {
    padding-top: 0;
    padding-bottom: 190px;
    padding-left: 29px;
}

body {
    background: linear-gradient(to bottom, rgb(166, 225, 250) 1%, rgb(243, 238, 179) 100%);
    margin-bottom: 30px;
}

header {
    background: linear-gradient(to bottom, #a9cfff, #85a7f2);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #AC8EB9FF;
    margin: auto;
    margin-top: 75px;
    width: 50%;
    border-radius: 50px;
    color: #333;
    border: 1px solid #1e478e;
}

header img {
    margin-right: 5px;
    width: 150px;
    height: 150px;
    border-radius: 45px;
}

h1 {
    color: floralwhite;
    margin: auto;
    margin-right: 1px;
    padding: 5px;

}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
}

li a {
    background: linear-gradient(to bottom, #a9cfff, #85a7f2);
    color: floralwhite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 8rem;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
        background-color: #9E9FD5FF;
}

main {
    background: linear-gradient(to bottom, rgba(87, 243, 213, 0.33), #a99c70);
    text-align: center;
    width: 75%;
    margin: auto;
    margin-bottom: 150px;
    margin-top: 75px;
    border: 2px solid #1e478e;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #333;
    font-size: 20px;
}

h2 {
    color: #ffffff;
    font-size: 3rem;
    padding: 1rem;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
}

p {
    color: floralwhite;
    padding: 2rem;
}

