@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf") format("truetype");
}

body {
    background: linear-gradient(to bottom, rgb(166, 225, 250) 1%, rgb(243, 238, 179) 100%);
    margin-bottom: 30px;
    font-family: "Roboto", sans-serif;
    color: #333;
}

header {
    background: linear-gradient(to bottom, #a9cfff, #85a7f2);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 75px;
    width: 1200px;
    height: 150px;
    border-radius: 50px;
    color: #333;
    border: 1px solid #1e478e;
}

header img {
    margin-right: 5px;
    width: 150px;
    height: 150px;
    border-radius: 45px;
}

h1 {
    color: floralwhite;
    margin: auto;
    padding: 5px;
}

nav {
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    width: 50%;
}

li a {
    background: linear-gradient(to bottom, #a9cfff, #85a7f2);
    color: floralwhite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(to bottom, #85a7f2, #a9cfff);
    color: #0900e6;
}
main {
    background: linear-gradient(to bottom, rgba(87, 243, 213, 0.33), #a99c70);
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 75px;
    margin-top: 75px;
    border: 2px solid #1e478e;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #333;
    font-size: 20px;
}

h2 {
    width: 290px;
    padding: 10px;
    text-align: center;
    margin: auto;
    color: floralwhite;
    background: linear-gradient(to bottom, #a9cfff, #85a7f2);
    border-radius: 12px;
    border: 2px solid floralwhite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.contact-info {
    text-align: left;
    align-content: center;
    background-color: #A99C70FF;
    color:floralwhite;
    width: 275px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 350px;
    margin-bottom: 40px;
    border-radius: 12px;
    border: 2px solid floralwhite;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

iframe {
    border: 1px solid #1e478e;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 900px;
    height: 300px;
    margin-left: 20px;
}

#visit-us {
    text-decoration: underline;
}

footer {
    background: linear-gradient(to bottom, rgba(87, 243, 213, 0.33), #a99c70);
    text-align: center;
    width: 500px;
    margin: 75px auto;
    border: 2px solid #1e478e;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: floralwhite;
    font-size: 20px;
}

footer h3 {
    width: 400px;
    padding: 10px;
    text-align: center;
    margin: auto;
    color: floralwhite;
    border-radius: 12px;
}

footer form {
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (min-width: 1025px) {
    header {
        height: 150px;
        width: 1200px;
    }

    main {

    }
}