.container {
    margin: auto;
    width: 60%;
}

body {
    background-color: #9500ff;
    background: linear-gradient(to bottom, rgb(159, 4, 229) 0%, rgb(255, 41, 247) 100%);
    margin-bottom: 30px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: indigo;
    margin: auto;
    width: 50%;
    border-radius: 10px;
}

header img {
    width: 120px;
    height: 120px;
}

h1 {
    color: gold;
    margin: auto;
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: indigo;
    padding: 0;
}

li a {
    background-color: indigo;
    color: gold;
    width: 8rem;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
}

li a:hover {
        background-color: #9500ff;
}

main {
    background-color: slateblue;
    text-align: center;
    width: 60%;
    margin: auto;
    margin-bottom: 150px;
    border-radius: 20px;
}

h2 {
    color: gold;
    font-size: 3rem;
    padding: 1rem;
}

p {
    color: gold;
    padding: 2rem;
}

.container1 {
    margin: auto;
    width: 60%;
}

.services {
    text-align: left;
}