.container {
    margin: auto;
    width: 60%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: indigo;
    margin: auto;
    width: 50%;
}

header img {
    width: 120px;
    height: 120px;
}

h1 {
    margin: auto;
    padding: 1rem;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: indigo;
    padding: 0;
}

li a {
    background-color: indigo;
    color: gold;
    width: 8rem;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
}

li a:hover {
    background-color: #9500ff;
}

main {
    background-color: slateblue;
    text-align: center;
    width: 60%;
    margin: auto;
}

h2 {
    font-size: 3rem;
    padding: 1rem;
}