@font-face {
    font-family: Roboto;
    src: url("Roboto-Regular.ttf") format("truetype");
}

body {
    background: linear-gradient(to bottom, #a6e1fa 1%, #f3eed3 100%);
    margin-bottom: 30px;
    font-family: Roboto, sans-serif;
    color: #333;
}

header {
    background: linear-gradient(to bottom, #89b7ff, #4e8bf2);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-top: 75px;
    width: 1200px;
    height: 150px;
    border-radius: 50px;
    color: #333;
    border: 1px solid #1e478e;
}

header img {
    margin-right: 5px;
    width: 150px;
    height: 150px;
    border-radius: 45px;
}

h1 {
    color: #fff;
    margin: auto;
    padding: 5px;
}

nav {
    margin: auto;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    width: 50%;
}

li a {
    background: linear-gradient(to bottom, #89b7ff, #4e8bf2);
    color: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    width: 150px;
    height: 4rem;
    display: block;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(to bottom, #4e8bf2, #89b7ff);
    color: #0900e6;
}

main {
    background: linear-gradient(to bottom, rgba(87, 243, 213, 0.33), #342b00);
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-bottom: 300px;
    margin-top: 75px;
    border: 2px solid #1e478e;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
    padding: 10px;
    color: #333;
    font-size: 20px;
}

section img {
    float: left;
    width: 200px;
    height: 200px;
    padding: 5px;
    background-color: #342b00;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 217, 122, 0.7);
}

section article {
    margin-bottom: 30px;
}

h2 {
    width: 125px;
    padding: 10px;
    text-align: center;
    margin-left: 40px;
    color: #fff;
    background: linear-gradient(to bottom, #89b7ff, #4e8bf2);
    border-radius: 12px;
    border: 2px solid #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

h3 {
    color: #fff;
    background-color: #342b00;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 13px;
    margin-left: 25px;
    border: 2px solid #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

p {
    color: #fff;
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px;
    background-color: #342b00;
    width: 600px;
    text-align: center;
    clear: left;
    border: 2px solid #c59e00;
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(255, 217, 122, 0.7);
}

@media (min-width: 1025px) {
    header {
        height: 150px;
        width: 1200px;
    }
}
